body{
  background-color:#00a8e1;
}
li
{
   list-style-type: none;
}
p{
  color:white;
}
h2{
  color:pink;
}
hr{
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px ;
  padding: 12px 16px;
  z-index: 0.75;
}

.carousel-item {
  height: 400px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    margin-left:250px;
     border-radius: 25px;
    height: 400px;
    width: 700px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
* {
  box-sizing: border-box;
}

dl > div {
  background:#e6f9ff ;
  padding: 24px 0 0 0;
}

dt {
  background:#00a8e1;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: white;
  font: bold 18px/21px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 4px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
