
body
{
  color:white;
  background-color:gray;
}
.carousel {
    background:gray;
}
#backpic
{
z-index:0.5;
}
@keyframes example
{
  0% {background-color:#d3d3d3 ; left:200px; top:0px; }
  50%  {background-color:#989898; left:200px; top:0px;}
  100%  {background-color:#8b8589; left:200px; top:200px;}
}

#popdown2 img{
  border-radius: 25px;
}
.popup-container{
  color: white;
	position: absolute;
	left:40%;
	top:0px;
	transition: 800ms;
}
.carousel-item
{
  height: 400px;
}
.carousel-item img
{
    position: absolute;
    top: 0;
    margin-left:250px;
     border-radius: 25px;
    height: 400px;
    width: 700px;
}
#carouselButton
{
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
*
{
  box-sizing: border-box;
}

dl > div {
  background:gray;
  padding: 24px 0 0 0;
}

dt {
  background: black;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: white;
  font: bold 18px/21px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
i
{
    color: white;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
dd
 {
  font: bold 20px/45px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}
  dd > a
  {
    color:black;
  }

dd + dd
{
  border-top: 1px solid #CCC;
}
.row-header
{
color:white;
padding: 0px auto;
}
.row-content
{
  margin:0px auto;
  padding:50px 0px 50px 0px;
  min-height: 400px;
}
li
{
   list-style-type: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

a{
  color:white;
}
breadcrumb > li{
  color: gray;
}
.dropdown-content
 {
  display: none;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 0.75;
}
.dropdown:hover .dropdown-content
 {
  display: block;
}
#more
 {
   display: none;
 }
 .nav-colored
 {
    background-color:gray;
  }
 .nav-transparent
  {
   background-color:transparent;
 }
